# HRC properties
hrc.batch.id.mask=3
hrc.codetype.id.mask=2
hrc.sequence.mask=4
hrc.pad.char=0
hrc.code.length={{ productmmaper_hrc_code_length }}
hrc.encoding.base=36
hrc.max.codetype.id=32767
hrc.max.batch.id=1048575
hrc.max.sequence=1073741823