#!/bin/bash
# SSAVP Product Mapper
#
# /etc/init.d/ssavpPM
# Subsystem file for "ssavpPM" server
#
# chkconfig: 2345 96 05
# description: SSAVP daemon to process activation files and create SSAVP files to consume
#
# processname: ssavpPM
#
# Only root can run installation script
if [ "$(id -u)" != "0" ]; then
   echo "SSAVP Product mapper service must be run as root" 1>&2
   exit 1
fi

case $1 in
    start)
        /bin/bash {{ root_dir }}/bin/startup.sh
    ;;
    stop)
        /bin/bash {{ root_dir }}/bin/shutdown.sh
    ;;
    restart)
        /bin/bash {{ root_dir }}/bin/shutdown.sh
        /bin/bash {{ root_dir }}/bin/startup.sh
    ;;
        *)
                echo $"Usage: $0 {start|stop|status|restart}"
                exit 2
esac

exit 0