#!/bin/sh
_rootdir={{ root_dir }}
_startCommand="cd $_rootdir;java -Dlog4j.configuration=file:config/log4j.properties -jar {{ ssavp_productmapper_artifact }}.jar"
_suCommand=""

. $_rootdir/install.cfg

if [ "$_rootdir" = "@ROOTDIR" ]
then
        echo "Product mapper has not been configured. Run install.sh script first" 1>&2
        exit 1
fi

# Only root or ssavp user can run start/stop scripts
if [ "$USER" != "$_ssavpUser" ]
then
        if [ "$(id -u)" != "0" ]
        then
                echo "Startup script must be run as root or $_ssavpUser user" 1>&2
                exit 1
        else
                _suCommand="su - $_ssavpUser -c "
        fi
fi

$_suCommand "$_startCommand & echo \$! > $_rootdir/ProductMapper.pid"