<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="identityService" type="Lpa.DocFramework.Helper.Common.Configuration.IdentityServiceConfigurationHandler, DocFramework.Common" />
	</configSections>
	<appSettings>
		<add key="IsDebugMode" value="true" />
		<!--The full file name for the ConventionData.xml file. Leave it empty to use default configuration.-->
		<add key="ConventionDataPath" value="bin\ConventionData.xml" />
		<!--The full file name for the HolidayData.xml file. Leave it empty to use default configuration.-->
		<add key="HolidayDataPath" value="bin\holidayData.xml" />
		<add key="StoreAdHocPrintedDocuments" value="true" />
		<add key="DocumentStoreLocation" value="\\FSPRIIPSP.NGL.CORP\LPAKID\DocStore" />
		<add key="MaxDocumentSizeInByte" value="50000000" />
		<add key="TransitionNameForUpdateThirdPartyKid" value="Update" />
		<add key="DocumentMetaDataGenerationEnabled" value="true" />
		<!--BEGIN workflow configuration-->
		<add key="DefaultWorkflowCategoryId" value="-1" />
		<add key="DisableActionIfTransitionNameEqualsStateName" value="false" />
		<!--END workflow configuration-->
		<!-- BEGIN force unique ISINs -->
		<add key="ForceUniqueProductCodeAndType" value="true" />
		<!-- END force unique ISINs -->
		<!-- BEGIN FactSet interface -->
		<add key="FactSetAuthenticationUrl" value="https://repository.modelity.com/adapter-bsc" />
		<add key="FactSetApplicationId" value="12345" />
		<add key="FactSetCredentials" value="Aa123456!" />
		<add key="FactSetSearchUrl" value="https://repository.modelity.com/adapter-bsc" />
		<add key="FactSetSearchRequestConfigurationName" value="FactSetSearchRequest" />
		<!--add key="FactSetConfigurationName" value="KID Gbr [en] (pdf)"/-->
		<add key="FactSetConfigurationName" value="FactSet" />
		<add key="MetadataTypeFactSet" value="FactSet" />
		<add key="ThirdPartyKidPersonalizedPageConfigurationName" value="ThirdPartyKidPersonalizedPage (PDF)" />
		<!-- END FactSet interface -->
		<add key="FactSetRequestIntervalInMs" value="5000" />
		<add key="FactSetRetryCount" value="3" />
		<add key="ProductCodeProductVariableName" value="" />
		<add key="ProductCodeTypeProductVariableName" value="" />
		<add key="TargetUrl" value="https://vmngpriimdsp02.ngl.corp/marketdataserver/mdClientServiceSSL.svc" />
		<add key="AdditionalDataXmlElementName" value="ClientAdditionalData" />
		<add key="EmtDocumentType" value="EMT" />
		<add key="EmtDataUrl" value="https://repository.modelity.com/bsc/documents" />
		<add key="EmtDataUrlUsername" value="d9e46f76-671f-11ec-90d6-0242ac120003" />
		<add key="EmtXmlContainerProperty" value="Product" />
		<add key="IsEmtMandatory" value="False" />
		<add key="ReturnWorkflowDocuments" value="true" />
		<add key="ReturnAdHocDocuments" value="true" />
	</appSettings>
	<connectionStrings>
		<add name="ADService" connectionString="LDAP://NGL.CORP:389/OU=PRO,OU=PRIIPS,OU=Productos BI,OU=SPAIN,OU=NEGOCIOS GLOBALES,OU=MEMBER SERVERS,DC=NGL,DC=CORP" />
		<add name="DocDesignerEntities" connectionString="metadata=res://*/DocDbModel.csdl|res://*/DocDbModel.ssdl|res://*/DocDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sengpriips2.ngl.corp\SEPRIIPS,60000;initial catalog=DocDesignerV21;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="DocGeneratorEntities" connectionString="metadata=res://*/DocGeneratorModel.csdl|res://*/DocGeneratorModel.ssdl|res://*/DocGeneratorModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sengpriips2.ngl.corp\SEPRIIPS,60000;initial catalog=DocGeneratorV21;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="WorkflowRuntimeEntities" connectionString="metadata=res://*/DataAccess.WorkflowRuntimeModel.csdl|res://*/DataAccess.WorkflowRuntimeModel.ssdl|res://*/DataAccess.WorkflowRuntimeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sengpriips2.ngl.corp\SEPRIIPS,60000;initial catalog=DocGeneratorV21;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="DocTesterEntities" connectionString="metadata=res://*/DocTesterModel.csdl|res://*/DocTesterModel.ssdl|res://*/DocTesterModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sengpriips2.ngl.corp\SEPRIIPS,60000;initial catalog=DocTesterV21;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="DocDesignerDB" connectionString="Data Source=sengpriips2.ngl.corp\SEPRIIPS,60000;initial catalog=DocDesignerV21;integrated security=True" />
		<add name="DocGeneratorDB" connectionString="Data Source=sengpriips2.ngl.corp\SEPRIIPS,60000;initial catalog=DocGeneratorV21;integrated security=True" />
		<add name="DocGeneratorLogDb" connectionString="data source=sengpriips2.ngl.corp\SEPRIIPS,60000;initial catalog=DocGeneratorV21;integrated security=True;persist security info=True" />
		<add name="DocTesterLogDb" connectionString="data source=sengpriips2.ngl.corp\SEPRIIPS,60000;initial catalog=DocTesterV21;integrated security=True;persist security info=True" />
		<add name="MarketDataDB" connectionString="data source=sengpriips2.ngl.corp\SEPRIIPS,60000;initial catalog=Marketdata;integrated security=True;persist security info=True" />
	</connectionStrings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
	<system.web>
		<compilation targetFramework="4.8" />
		<httpRuntime executionTimeout="600" maxRequestLength="2097152" targetFramework="4.8" />
	</system.web>
	<system.serviceModel>
		<bindings>
			<webHttpBinding>
				<binding name="WindowsBindingSecure" maxReceivedMessageSize="50000000" sendTimeout="00:05:00">
					<readerQuotas maxArrayLength="50000000" maxBytesPerRead="18000000" maxDepth="900000" maxStringContentLength="9000000" />
					<security mode="Transport">
						<transport clientCredentialType="Windows" />
					</security>
				</binding>
				<binding name="WindowsBinding" maxReceivedMessageSize="50000000" sendTimeout="00:15:00">
					<readerQuotas maxArrayLength="50000000" maxBytesPerRead="18000000" maxDepth="900000" maxStringContentLength="9000000" />
					<security mode="TransportCredentialOnly">
							<transport clientCredentialType="Windows" />
					</security>
				</binding>
			</webHttpBinding>
			<basicHttpBinding>
				<binding name="LPAInboundServiceEndpointHTTPBinding">
					<security mode="TransportWithMessageCredential">
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="BISonServiceEndpointHTTPBinding">
					<security mode="Transport" />
				</binding>
			</basicHttpBinding>
		</bindings>
		<behaviors>
			<endpointBehaviors>
				<behavior name="WebHttpEndpointBehavior">
					<webHttp />
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="SelfHostedWcfServiceBehavior">
					<serviceMetadata httpGetEnabled="false" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
				<behavior name="SelfHostedWcfSecuredServiceBehavior">
					<serviceMetadata httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
				<!-- we need this sector temporary, to generate a wsdl for this service -->
				<behavior name="ExcelAddInServiceBehavior">
					<serviceMetadata httpGetEnabled="false" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<client>
			<endpoint name="WorkflowService" address="https://vmngpriimdsp02.ngl.corp/workflowservice/WorkflowService.svc" binding="webHttpBinding" bindingConfiguration="WindowsBindingSecure" contract="WorkflowService.Wcf.IWcfWorkflowService" behaviorConfiguration="WebHttpEndpointBehavior" />
		</client>
		<diagnostics>
			<messageLogging logMessagesAtTransportLevel="true" logMessagesAtServiceLevel="false" logMalformedMessages="true" logEntireMessage="true" maxSizeOfMessageToLog="65535000" maxMessagesToLog="500" />
		</diagnostics>
	</system.serviceModel>
	<!--Logging of errors direct from web service-->
	<!--
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "c:\log\SantanderAdapterService.Web.Trace.svclog"/>
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" />
  </system.diagnostics>
  -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
	<log4net>
		<root>
			<level value="Info" />
			<appender-ref ref="AdoNetAppender" />
			<appender-ref ref="RollingFileAppender" />
		</root>
		<!-- Rolling File Appender. -->
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<threshold value="All" />
			<file type="log4net.Util.PatternString" value="E:\LPA\Logs\AdapterService\%property{ApplicationName}_%property{log4net:HostName}_%processid_" />
			<appendToFile value="true" />
			<!-- Once, Size, Date, Composite -->
			<rollingStyle value="Composite" />
			<!-- Log.1.txt is older, than Log.5.txt -->
			<countDirection value="1" />
			<!-- If -1, then all are kept. -->
			<maxSizeRollBackups value="100" />
			<maximumFileSize value="5MB" />
			<!-- These 2 setting for Date (daily) rolling. -->
			<staticLogFileName value="false" />
			<preserveLogFileNameExtension value="true" />
			<datePattern value="yyyyMMdd'.log'" />
			<staticLogFileName value="false" />
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%date] [%-10property{log4net:HostName}] [%-5property{processid}] [%-5thread] [%-90logger] [%-5level] [%-30X{branch}] [%-60X{url}] [%message] [%exception]%newline" />
			</layout>
		</appender>
		<appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
			<param name="threshold" value="ALL" />
			<bufferSize value="1" />
			<!-- set to 'true' to retry logging on DB errors, for example DB timeouts (very relevant for long running server processes) -->
			<reconnectOnError value="true" />
			<connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<connectionStringName value="DocGeneratorLogDb" />
			<commandText value="INSERT INTO         dg.Log    ([Date],[ApplicationName],[Thread],[Level],[Logger],[Message],[Exception],[Host],[User],[BranchName],[Url])         VALUES (@log_date, @application, @thread, @log_level, @logger, @message, @exception, @host, @user, @branch, @url)" />
			<parameter>
				<parameterName value="@log_date" />
				<dbType value="DateTime" />
				<layout type="log4net.Layout.RawTimeStampLayout" />
			</parameter>
			<parameter>
				<parameterName value="@application" />
				<dbType value="String" />
				<size value="255" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{ApplicationName}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@thread" />
				<dbType value="String" />
				<size value="255" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%thread" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@log_level" />
				<dbType value="String" />
				<size value="50" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%level" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@logger" />
				<dbType value="String" />
				<size value="255" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%logger" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@message" />
				<dbType value="String" />
				<size value="90000" />
				<!--MS-Bug http://support.microsoft.com/default.aspx/kb/970519 darf nicht zwischen 4000 und 8000 sein!-->
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%message" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@exception" />
				<dbType value="String" />
				<size value="90000" />
				<!--darf nicht zwischen 4000 und 8000 sein!-->
				<layout type="log4net.Layout.ExceptionLayout" />
			</parameter>
			<parameter>
				<parameterName value="@host" />
				<dbType value="String" />
				<size value="255" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{log4net:HostName}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@user" />
				<dbType value="String" />
				<size value="255" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%X{user}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@branch" />
				<dbType value="String" />
				<size value="50" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%X{branch}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@url" />
				<dbType value="String" />
				<size value="2048" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{url}" />
				</layout>
			</parameter>
		</appender>
	</log4net>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31BF3856AD364E35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.8.0.0" newVersion="6.8.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31BF3856AD364E35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31BF3856AD364E35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EntityFramework" publicKeyToken="B77A5C561934E089" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="EB42632606E9261F" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" culture="neutral" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.CodeAnalysis" culture="neutral" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.7.0.0" newVersion="3.7.0.0" />
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.CodeAnalysis.CSharp" culture="neutral" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.7.0.0" newVersion="3.7.0.0" />
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Tokens" culture="neutral" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-6.8.0.0" newVersion="6.8.0.0" />
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.IdentityModel.Tokens.Jwt" culture="neutral" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-6.8.0.0" newVersion="6.8.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v13.0" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<system.net>
		<defaultProxy enabled="true" useDefaultCredentials="true">
			<proxy usesystemdefault="true" proxyaddress="http://proxy.nngg.corp:8080" bypassonlocal="true" />
			<bypasslist>
				<add address="\.ngl\.corp" />
				<add address="\.corp" />
			</bypasslist>
		</defaultProxy>
	</system.net>
	<identityService>
		<authority>https://vmngpriimdsp02.ngl.corp/idserver</authority>
		<issuer>https://lpakid.gcb.corp/idserver</issuer>
		<clientId>SANCapmatixAPI</clientId>
		<clientSecret>SANCapmatixAPI</clientSecret>
		<scope>IdentService SANCapmatixAPI</scope>
	</identityService>
</configuration>